<div>
  <div>
    <table class="table">
      <tr>
        <td>服务名</td>
        <td>状态</td>
      </tr>
      {{#data}}
        <tr>
          <td>{{service}}</td>
          <td>{{UP}}</td>
        </tr>
      {{/data}}
    </table>
  </div>
</div>
